#brews {
	-webkit-transition: all 1s ease-in-out 0s;
	transition: all 1s ease-in-out 0s;
	opacity: 0;
}
#brews.brewme {
	opacity: 1;
}

#brewers {
	
}

.brewerlist.roll li {
	font-size: 1em;
	opacity: .5;
} 

.brewerlist.roll .pickme {
	font-size: 3em;
	opacity: 1;
}