/* =Variables
========================================= */
$serif:					'Times', serif;
$sans-serif:			Helvetica, Arial, sans-serif;

$fancy-sans:			'Amaranth', $sans-serif;
$body:					$sans-serif;


/* =Headings
========================================= */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	color: $primary;
	font-family: $fancy-sans;
}

h1, .h1 {
	font-size: 2.4em;
	margin: 1.4em 0 1em;
	text-align: center;
}

h2, .h2 {
	
}

h3, .h3 {
	
}

h4, .h4 {
	
}

h5, .h5 {
	
}

a,
a:visited {
	text-decoration: none;
	&:hover,
	&:focus {
		
	}
}