/* =Buttons
========================================= */
.btn {
	background-color: $brand-primary;
	border-color: $brand-primary darken($brand-primary, 8%) darken($brand-primary, 15%);
	border-style: solid;
	border-radius: $border;
	border-width: 1px;
	color: $white;
	display: block;
	font-family: $fancy-sans;
	margin: .5em 0;
	padding: .4em 1em;
	text-align: center;
	&:hover,
	&:focus {
		background-color: darken($brand-primary, 10%);
	}
}