/* =Colour Variables
==========================================*/
$alert-yellow:			#ebe16f;
$alert-red:				#fbe3e4;
$alert-green:			#e6efc2;
$alert-blue:			#d5edf8;

$black:					#323944;
$white:					#fff;

$text-color:			#5c6b80;

$brand-primary:			#a77748;
$brand-secondary:		#eceee5;
$brand-tertiary:		#eceee5;

$link-color:        	$brand-primary;
$link-hover:        	darken($link-color, 10%);


/* =Social colours
==========================================*/
$social-facebook:		#4d70a8;
$social-twitter:		#01baf2;
$social-google:			#e3401d;
$social-linkedin:		#1687b1;


/* =Wrap Width
==========================================*/
$wrap-restrict:			25em;


/* =Strip Padding
==========================================*/
$strip-padding:			2.125em;


/* =Site Transitions
==========================================*/
$transition-time:		.25s;

/* =Border Radius
========================================= */
$border:				.4em;
