.brew--action {
	display: block;
	@include transition(all $transition-time ease-in-out);

	&.push {
		padding-top: 340px;
	}

}

.brew-list {
	list-style: none;
	margin: 2em 0;
	padding: 0;
	text-align: center;
	li {
		//display: inline-block;
		padding: 0 .5em;
		&::after {
			//content: ', ';
		}
	}
}

/*
.brew-list__active {

	li {
		font-size: 1em;
		opacity: .5;
	}

	.itsme {
		font-size: 2em;
		opacity: 1;
	}

}
*/
