/* =Buttons
========================================= */
.btn {
	background-color: var(--colour-primary);
	border-color: var(--colour-primary) darken($primary, 8%) darken($primary, 15%);
	border-style: solid;
	border-radius: $radius;
	border-width: 1px;
	color: $white;
	display: block;
	font-family: var(--font-sans);
	margin: .5em 0;
	padding: .4em 1em;
	text-align: center;

	transition: background-color $transition ease-in-out,
		border-color $transition ease-in-out,
		color $transition ease-in-out;

	&:hover,
	&:focus {
		background-color: darken($primary, 10%);
	}

	&--remove {
		background-color: darken($white, 10%);
		border-color: darken($white, 10%) darken($white, 15%) darken($white, 30%);
		color: darken($white, 30%);

		&:hover,
		&:focus {
			background-color: darken($alert-red, 30%);
			border-color: darken($alert-red, 20%) darken($alert-red, 30%) darken($alert-red, 40%);
			color: $white;
		}

	}

}