/* =Base
========================================= */
html {
	height: 100%;
	position: relative;
}

html {
	box-sizing: border-box;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: $text-color;
	font-family: $body;
	position: relative;
}



/* =Selected Brewer
==========================================*/
.brewer--outer {
	padding: 1rem 0;
}

.brewer {
	display: block;
	font-size: 1.5rem;
	text-align: center;

	span {
		display: block;
		font-size: clamp(2rem, 12vw, 6rem);
	}

}



/* =Actions
==========================================*/
.actions {
	display: flex;
	gap: 1rem;
	justify-content: space-between;

	.btn {
		flex: 1;
	}
}



/* =Brew Countdown
==========================================*/
.countdown {
	opacity: 0;
	text-align: center;
	@include transition(all $transition ease-in-out);

	&.visible {
		opacity: 1;
	}

}

.countdown--text {
	color: $brand-primary;
	font-family: $fancy-sans;
	font-size: 2em;
	margin: 0;
}

.countdown--timer {
	font-family: $fancy-sans;
	font-size: 4em;
	line-height: 1;
	margin: 0;
	@include transition(all $transition ease-in-out);

	.visible & {
		margin: .2em 0 1em;
	}

}