/* =Base
==========================================*/
body {
	color: var(--text-colour);
	font-family: var(--font-sans);
	font-weight: 400;
}


/* =Headings
========================================= */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	color: var(--colour-primary);
	font-family: var(--font-sans);
	font-weight: 700;
	line-height: 1.2;
}

h1,
.h1 {
	font-size: clamp(4rem, 10vw, 6em);
	margin: 0;
	text-align: center;
}

h2,
.h2 {}

h3,
.h3 {}

h4,
.h4 {}

h5,
.h5 {}

a,
a:visited {
	color: var(--text-colour);
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--text-colour);
		text-decoration: underline;
	}

}