form {
	align-items: stretch;
	display: flex;
	gap: 1.5rem;
	margin: 2em 0;
	justify-content: space-between;
	width: 100%;

	.btn {
		margin: 0;
	}

}

input {
	display: inline-block;
	outline: none;

	&[type="text"],
	&[type="password"],
	&[type="email"],
	&[type="number"] {
		background-color: $white;
		border-color: $brand-primary;
		border-style: solid;
		border-width: 1px;
		border-radius: $border;
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		padding: .4em 1em;
		width: 60%;
	}

	&[type="submit"] {
		@extend .btn;
		display: block;
		margin: 0;
		width: 35%;
	}

}


.form--countdown {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	input {

		&[type="number"] {
			border-color: transparent transparent $brand-primary;
			border-radius: 0;
			margin: 0 .5em;
			padding: .4em 0;
			text-align: center;
			width: 60px;
		}

	}

}